bcrypt==4.2.1
cryptography==43.0.3
fastapi==0.115.5
passlib==1.7.4
PyJWT==2.9.0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.17
SQLAlchemy==2.0.36
typing_extensions==4.12.2
uvicorn==0.32.1
